#div1{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#div2{
    height: 300px;
    width: 300px;
    margin: 50px;
    background-color: aqua;
    

}
#Name{
    /* align-items: center; */
    margin-left: 130px;
}
#Price{
    margin-left: 140px;
}
img{
    margin-top: 15px;
    margin-left: 25px;
    border-radius: 10px;
}
button{
    width: 200px;
    height: 30px;
    border-radius: 10px;
    margin-left: 50px;
}